certifi==2020.4.5.1
chardet==3.0.4
chromedriver==2.24.1
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
Django==2.1.5
idna==2.9
pytz==2019.3
requests==2.23.0
selenium==3.141.0
urllib3==1.26.5
webdriver-manager==2.3.0
